.msd-events h1 {
    margin-bottom: 32px;
}

.msd-events__content {
    display: grid;
}

.msd-events__item__title {
    font-weight: 700;
    font-size: 20px;
}

.msd-events__item {
    padding: 32px;
}

.msd-events__item--hl {
    background: #f2f2f2;
}

